
# Include all these files and subdirectories
!.config/
!.config/**

!.alacritty.*
!.alias
!.bash*
!.gitconfig
!.ideavimrc
!.p10k.zsh
!.pre-commit-config.yaml
!.tflint.hcl
!.tmux.conf
!.vale.ini
!.vim*
!.wezterm*
!.zprezto*
!.zsh*

# Files to ignore
.DS_Store
.idea
**/*.bak
**/*.BAK
*.BAK
*.bak
.config/nvim/lazy-lock.json
tmp/
