
[user]
	name = rollwagen
	email = rollwagen@gmail.com

[color]
	ui = true

[credential]
	helper = cache --timeout=3600

[core]
	editor = nvim
	pager = delta

[alias]
	c = commit
	p = push
	pp = pull --prune
	s = status --short --branch
	co = checkout
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	ca = commit --all
	l = log --pretty='%C(yellow)%h%C(reset) | %C(red)%d%Creset %C(cyan)%s%C(reset) %C(green)(%cs)%C(reset) %an' --graph --max-count=12
	# l = log --pretty='%C(yellow)%h%C(reset) | %C(red)%d%Creset %C(cyan)%s%C(reset) %C(green)(%cr)%C(reset)' --graph --max-count=20
	diff-prose = diff --word-diff --unified=10
	unstage = reset HEAD

[diff]
	algorithm = histogram

[init]
	defaultBranch = main

[delta]
	plus-style = "syntax #012800"
	minus-style = "syntax #340001"
	# syntax-theme = Monokai Extended / gruvbox-dark
	syntax-theme = zenburn 
	navigate = true
	side-by-side = true

[interactive]
	diffFilter = delta --color-only
