
[user]
	name = rollwagen
	email = rollwagen@gmail.com

[color]
	ui = true

[credential]
	helper = cache --timeout=3600

[core]
	editor = nvim
	pager = delta
	excludesfile = /Users/rollwagen/.gitignore

[rebase]
	autostash = true

[pull]
	rebase = true

[alias]
	c = commit
	pp = pull --prune
	update = !git pull --rebase --prune $@ && git submodule update --init --recursive
	clonesubcommit = "!f() { git clone --recurse-submodules $1; cd $(basename \"$1\" .git); pre-commit install --config .pre-commit-config.yaml; }; f"
	s = status --short --branch
	co = checkout
	co- = checkout -
	cob = checkout -b
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:cyan)%(contents:subject) %(color:green)(%(committerdate:relative)) %(color:reset)[%(authorname)]' --sort=-committerdate
	bra = br -a
	ca = commit --all
	l1 = log --pretty='%C(yellow)%h%C(reset) | %C(red)%d%Creset %C(cyan)%s%C(reset) %C(green)(%cs)%C(reset) %an' --graph --max-count=10
	l2 = log --pretty='%C(yellow)%h%C(reset) | %C(red)%d%Creset %C(cyan)%s%C(reset) %C(green)(%cr)%C(reset)' --graph --max-count=20
	l3 = log --graph --all --pretty='format:%C(auto)%h %C(cyan)%ar %C(auto)%d %C(magenta)%an %C(auto)%s' --max-count=12
	l = l3
	diff-prose = diff --word-diff --unified=10
	d = diff
	unstage = reset HEAD
	pushbranch = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
	pushforce = !git push origin +$(git rev-parse --abbrev-ref HEAD)

[diff]
	algorithm = histogram

[init]
	defaultBranch = main

[delta]
	plus-style = "syntax #012800"
	minus-style = "syntax #340001"
	syntax-theme = zenburn  # Monokai Extended / gruvbox-dark
	navigate = true
	side-by-side = true

[interactive]
	diffFilter = delta --color-only

; git config --global  url.ssh://git@gitlab.xxx.ch/.insteadOf https://gitlab.xxx.ch/

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
